{% extends "base.html" %} {% block head %} {{ super() }}
<style type="text/css">
  .card {
    background-color: inherit !important;
    height: 100%;
    width: 100%;
  }
  .card > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
</style>
{% endblock %} {% block main %}
<div class="py-3 mx-md-3 bg-light border-radius-2">
  <h1 class="display-4 fw-normal border-bottom-dash text-center">Facility</h1>
  <div class="row mx-0 my-4">
    <div class="col-md-3 py-3 px-md-3">
      <div class="card border-0">
        <img src="{{ url_for('static', filename='facility/wet-lab-equipments.webp') }}" class="card-img border-radius-2" alt="img" />
        <div class="card-img-overlay d-flex align-items-center justify-content-center bg-dark bg-opacity-75 border-radius-2">
          <a class="text-decoration-none display-6 text-light text-center" href="/facility/wet-lab-equipments">Wet Lab Equipments</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 py-3 px-md-3">
      <div class="card border-0">
        <img src="{{ url_for('static', filename='facility/computing-facilities.webp') }}" class="card-img border-radius-2" alt="img" />
        <div class="card-img-overlay d-flex align-items-center justify-content-center bg-dark bg-opacity-75 border-radius-2">
          <a class="text-decoration-none display-6 text-light text-center" href="/facility/computing-facilities">Computing Facilities</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 py-3 px-md-3">
      <div class="card border-0">
        <img src="{{ url_for('static', filename='/facility/bruker-biospec-94-30.webp') }}" class="card-img border-radius-2" alt="img" />
        <div class="card-img-overlay d-flex align-items-center justify-content-center bg-dark bg-opacity-75 border-radius-2">
          <a class="text-decoration-none display-6 text-light text-center" href="/facility/bruker-biospec-94-30">Bruker Biospec 94/30</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 py-3 px-md-3">
      <div class="card border-0">
        <img src="{{ url_for('static', filename='facility/physiological-monitoring-devices.webp') }}" class="card-img border-radius-2" alt="img" />
        <div class="card-img-overlay d-flex align-items-center justify-content-center bg-dark bg-opacity-75 border-radius-2">
          <a class="text-decoration-none display-6 text-light text-center" href="/facility/physiological-monitoring-devices">Physiological Monitoring Devices</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
