{% extends "base.html" %} {% block main %}
<div class="my-5 text-center text-light">
  <h1 class="display-1 fw-normal">DeepStream-MRI</h1>
  <div class="container col-lg-8">
    <p class="lead fw-normal">A complete automated analytics toolkit and workflow for AI-based brain MRI data processing, quantification, analysis and understanding.</p>
  </div>
  <a class="btn btn-outline-secondary" href="#">Coming soon</a>
  <a class="btn btn-outline-secondary" href="https://github.com/Yanting-Yang/DeepStream-MRI/blob/main/changelog.md">View the Change Log</a>
</div>

<div class="position-relative">
  <a class="position-absolute" id="tools" style="top: -56px"></a>
</div>
<div class="py-3 mx-md-3 bg-light border-radius-2" id="myGroup">
  <h1 class="display-4 fw-normal border-bottom-dash text-center">Tools</h1>

  <!--Automated processing streamline-->
  <div class="mx-md-3 my-4 row">
    <h1 class="display-6 fw-normal text-center">Automated processing streamline</h1>
    <div class="col-12 col-md-6 py-3">
      <h3 class="border-bottom-dash ps-3 ps-md-0">Mouse brain MRI</h3>
      <div class="list-group list-group-flush">
        <div class="position-relative">
          <a href="#" class="text-primary position-absolute px-3 py-2" style="z-index: 4; --bs-text-opacity: 0">Structure MRI</a>
        </div>
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#sMRI" role="button" aria-expanded="false" aria-controls="sMRI">
          Structure MRI
          <span class="badge bg-primary rounded-pill">6</span>
        </a>
        <div class="list-group list-group-flush ps-3 pb-3 collapse" id="sMRI" data-bs-parent="#myGroup">
          <a href="#" class="list-group-item list-group-item-action">K-space convertor</a>
          <a href="#" class="list-group-item list-group-item-action">Motion detection and correction</a>
          <a href="#" class="list-group-item list-group-item-action">Within-subject Rigid Registration</a>
          <a href="#" class="list-group-item list-group-item-action">SRR</a>
          <a href="#" class="list-group-item list-group-item-action">SABER (DL-BET)</a>
          <a href="#" class="list-group-item list-group-item-action">Between-subject Diffeomorphic Registration</a>
        </div>
        <div class="position-relative">
          <a href="#" class="text-primary position-absolute px-3 py-2" style="z-index: 4; --bs-text-opacity: 0">CBV fMRI</a>
        </div>
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#fMRI" role="button" aria-expanded="false" aria-controls="fMRI">
          CBV fMRI
          <span class="badge bg-primary rounded-pill">7</span>
        </a>
        <div class="list-group list-group-flush ps-3 pb-3 collapse" id="fMRI" data-bs-parent="#myGroup">
          <a href="#" class="list-group-item list-group-item-action">K-space convertor</a>
          <a href="#" class="list-group-item list-group-item-action">Motion detection and correction</a>
          <a href="#" class="list-group-item list-group-item-action">Within-subject Rigid Registration</a>
          <a href="#" class="list-group-item list-group-item-action">SRR</a>
          <a href="#" class="list-group-item list-group-item-action">SABER (DL-BET)</a>
          <a href="#" class="list-group-item list-group-item-action">DRC/ssCE</a>
          <a href="#" class="list-group-item list-group-item-action">Between-subject Diffeomorphic Registration</a>
        </div>
        <a href="#" class="list-group-item list-group-item-action">AI-Ktrans mapping from low-dose DCE MRI</a>
        <a href="#" class="list-group-item list-group-item-action">AI-Ktrans mapping from IVIM-DTI MRI</a>
      </div>
    </div>
    <div class="col-12 col-md-6 py-3">
      <h3 class="border-bottom-dash ps-3 ps-md-0">Human brain MRI</h3>
      <div class="list-group list-group-flush">
        <div class="position-relative">
          <a href="#" class="text-primary position-absolute px-3 py-2" style="z-index: 4; --bs-text-opacity: 0">Structure MRI</a>
        </div>
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#sMRIhuman" role="button" aria-expanded="false" aria-controls="sMRIhuman">
          Structure MRI
          <span class="badge bg-primary rounded-pill">4</span>
        </a>
        <div class="list-group list-group-flush ps-3 pb-3 collapse" id="sMRIhuman" data-bs-parent="#myGroup">
          <a href="#" class="list-group-item list-group-item-action">QC</a>
          <a href="#" class="list-group-item list-group-item-action">SRR</a>
          <a href="#" class="list-group-item list-group-item-action">TABS - Bias field correction, BET and PVE</a>
          <a href="#" class="list-group-item list-group-item-action">Between-subject Diffeomorphic Registration</a>
        </div>
        <div class="position-relative">
          <a href="#" class="text-primary position-absolute px-3 py-2" style="z-index: 4; --bs-text-opacity: 0">AI-CBV mapping from T1-weighted MRI</a>
        </div>
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#CBVhuman" role="button" aria-expanded="false" aria-controls="CBVhuman">
          AI-CBV mapping from T1-weighted MRI
          <span class="badge bg-primary rounded-pill">5</span>
        </a>
        <div class="list-group list-group-flush ps-3 pb-3 collapse" id="CBVhuman" data-bs-parent="#myGroup">
          <a href="#" class="list-group-item list-group-item-action">QC</a>
          <a href="#" class="list-group-item list-group-item-action">SRR</a>
          <a href="#" class="list-group-item list-group-item-action">TABS - Bias field correction, BET and PVE</a>
          <a href="#" class="list-group-item list-group-item-action">Between-subject Diffeomorphic Registration</a>
          <a href="#" class="list-group-item list-group-item-action">Deriving AI-CBV</a>
        </div>
        <a href="#" class="list-group-item list-group-item-action">AI-Ktrans mapping from DTI MRI</a>
      </div>
    </div>
    <div class="col-12 col-md-6 py-3">
      <h3 class="border-bottom-dash ps-3 ps-md-0">Mouse brain MEGAPRESS MRS</h3>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action">JET v1.0</a>
        <div class="position-relative">
          <a href="#" class="text-primary position-absolute px-3 py-2" style="z-index: 4; --bs-text-opacity: 0">JET v2.0</a>
        </div>
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#JETv2mouse" role="button" aria-expanded="false" aria-controls="JETv2mouse">
          JET v2.0
          <span class="badge bg-primary rounded-pill">2</span>
        </a>
        <div class="list-group list-group-flush ps-3 pb-3 collapse" id="JETv2mouse" data-bs-parent="#myGroup">
          <a href="#" class="list-group-item list-group-item-action">MRS registration</a>
          <a href="#" class="list-group-item list-group-item-action">MRS fitting</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 py-3">
      <h3 class="border-bottom-dash ps-3 ps-md-0">Human brain MEGAPRESS MRS</h3>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action">JET v1.0</a>
        <div class="position-relative">
          <a href="#" class="text-primary position-absolute px-3 py-2" style="z-index: 4; --bs-text-opacity: 0">JET v2.0</a>
        </div>
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#JETv2human" role="button" aria-expanded="false" aria-controls="JETv2human">
          JET v2.0
          <span class="badge bg-primary rounded-pill">2</span>
        </a>
        <div class="list-group list-group-flush ps-3 pb-3 collapse" id="JETv2human" data-bs-parent="#myGroup">
          <a href="#" class="list-group-item list-group-item-action">MRS registration</a>
          <a href="#" class="list-group-item list-group-item-action">MRS fitting</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
