<!--Applications-->
<div class="mx-md-3 my-4 row">
  <h1 class="display-6 fw-normal text-center">Applications</h1>
  <div class="col-12 col-md-6 py-3">
    <h3 class="border-bottom-dash ps-3 ps-md-0">Predicting brain age</h3>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action">Regression model input: T1-weighted MRI</a>
      <a href="#" class="list-group-item list-group-item-action">Regression model input: T1-weighted MRI + AI-CBV</a>
    </div>
  </div>
  <div class="col-12 col-md-6 py-3">
    <h3 class="border-bottom-dash ps-3 ps-md-0">Diagnosing Alzheimer's disease</h3>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action">Classification model input: T1-weighted MRI</a>
      <a href="#" class="list-group-item list-group-item-action">Classification model input: T1-weighted MRI + AI-CBV</a>
    </div>
  </div>
  <div class="col-12 col-md-6 py-3">
    <h3 class="border-bottom-dash ps-3 ps-md-0">Diagnosing schizophrenia</h3>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action">Classification model input: T1-weighted MRI</a>
      <a href="#" class="list-group-item list-group-item-action">Classification model input: T1-weighted MRI + AI-CBV</a>
    </div>
  </div>
  <div class="col-12 col-md-6 py-3">
    <h3 class="border-bottom-dash ps-3 ps-md-0">Diagnosing depression</h3>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action">Classification model input: T1-weighted MRI</a>
      <a href="#" class="list-group-item list-group-item-action">Classification model input: T1-weighted MRI + AI-CBV</a>
    </div>
  </div>
</div>