<li class="list-group-item d-flex">
  <a class="text-decoration-none text-dark" href="https://doi.org/10.1101/2022.01.23.477393">Tessa G. Montague, Isabelle J. Rieth, Sabrina Gjerswold-Selleck, Daniella Garcia-Rosales, Sukanya Aneja, Dana Elkis, Nanyan Zhu, Sabrina Kentis, Frederick A. Rubino, Adriana Nemes, Katherine Wang, Luke A. Hammond, Roselis Emiliano, Rebecca A. Ober, Jia Guo, Richard Axel (2022). A brain atlas of the camouflaging dwarf cuttlefish, Sepia bandensis. bioRxiv 2022.01.23.477393.</a>
</li>
<li class="list-group-item d-flex">
  <a class="text-decoration-none text-dark" href="
https://doi.org/10.48550/arXiv.2201.08741">Vishwanatha M. Rao, Zihan Wan, David J. Ma, Pin-Yu Lee, Ye Tian, Andrew F. Laine, Jia Guo (2022). Improving Across-Dataset Brain Tissue Segmentation Using Transformer. arXiv:2201.08741.</a>
</li>
<li class="list-group-item d-flex">
  <a class="text-decoration-none text-dark" href="
https://doi.org/10.48550/arXiv.2106.07608">X. He, J. Guo, X. Zhang, H. Bi, S. Gerard, D. Kaczka, A. Motahari, E. Hoffman, J. Reinhardt, R. G. Barr, E. Angelini, A. F. Laine (2021). Recursive Refinement Network for Deformable Lung Registration between Exhale and Inhale CT Scans. arXiv:2106.07608.</a>
</li>
<li class="list-group-item d-flex">
  <a class="text-decoration-none text-dark" href="
https://doi.org/10.48550/arXiv.2105.13993">X. Zhang, X. He, J. Guo, N. Ettehadi, N. Aw, D. Semanek, J. Posner, A. F. Laine, Y. Wang (2021). PTNet: A High-Resolution Infant MRI Synthesizer Based on Transformer. arXiv:2105.1399.</a>
</li>
<li class="list-group-item d-flex">
  <a class="text-decoration-none text-dark" href="https://www.researchsquare.com/article/rs-56518/latest.pdf">C. Liu, N. Zhu, D. Sikka, X. Feng, H. Sun, X. Liu, S. Gjerswold-Selleck, H. Wei, P. Upadhyayula, A. Mela, P. Canoll, C. Wu, A.F. Laine, J. Lieberman, F. Provenzano, S.A. Small, J. Guo (2020). Deep Learning Substitutes Gadolinium in Detecting Functional and Structural Brain Lesions with MRI. Researchsquare rs-56518.</a>
</li>
<li class="list-group-item d-flex">
  <a class="text-decoration-none text-dark" href="
https://doi.org/10.48550/arXiv.2001.05548">N. Zhu, C. Liu, Z. S. Singer, T. Danino, A. F. Laine, J. Guo (2020). Segmentation with Residual Attention U-Net and an Edge-Enhancement Approach Preserves Cell Shape Features. arXiv preprint arXiv:2001.05548.</a>
</li>
