<li class="list-group-item">
  <a class="text-decoration-none text-dark" href="#">X. Zhu, P. Lee, Y. Tian, S. A. Small, T. Nuriel, J.Guo(2022). Increased Brain Age Gap Estimate (BrainAGE) in APOE4 carriers with Alzheimer’s disease. 2022 ISMRM & SMRT Annual Meeting & Exhibition, Abstract #8348.</a>
</li>
<li class="list-group-item">
  <a class="text-decoration-none text-dark" href="https://doi.org/10.48550/arXiv.2201.08741">V. M. Rao, Z. Wan, D. J. Ma, Y. Tian, J. Guo (2022). Improving Across-Dataset Brain Tissue Segmentation Using Transformer. 2022 ISMRM & SMRT Annual Meeting & Exhibition, Abstract #2399.</a>
</li>
<li class="list-group-item">
  <a class="text-decoration-none text-dark" href="#">V. M. Rao, J. Zhang, J.Guo (2022). Exploring Hybrid CNN-Transformer for Schizophrenia Classification using Structural MRI. 2022 ISMRM & SMRT Annual Meeting & Exhibition, Abstract #4401.</a>
</li>
<li class="list-group-item">
  <a class="text-decoration-none text-dark" href="https://doi.org/10.1101/2021.05.29.446254">D. J. Ma, H. A-M. Le, Y. Ye, A. F. Laine, J. Leiberman, S. A. Small, J. Guo (2022). Magnetic Resonance Spectroscopy Frequency and Phase Correction Using Convolutional Neural Networks. 2022 ISMRM & SMRT Annual Meeting & Exhibition, Abstract #7050</a>
</li>
<li class="list-group-item">
  <a class="text-decoration-none text-dark" href="#">D. J. Ma, H. A-M. Le, S. A. Small, J. Guo (2022). Magnetic Resonance Spectroscopy Using Deep Learning. 2022 ISMRM & SMRT Annual Meeting & Exhibition, Abstract #8534</a>
</li>
<li class="list-group-item">
  <a class="text-decoration-none text-dark" href="#">Y.Tian, J.Zhang, X.Zhu, P.Lee, V. M. Rao, Z.Xin, A. F. Laine, S. A. Small and J. Guo(2022), Classification of Schizophrenia with Structural MRI Using 3D-MIGR Transformer. 2022 ISMRM & SMRT Annual Meeting & Exhibition, Abstract #5640.</a>
</li>
<li class="list-group-item">
  <a class="text-decoration-none text-dark" href="#">D. Sikka, N. Igra, S. Gjerswold-Selleck, C. Gao, J. Guo (2021). CU-Net: A Completely Complex U-Net for MR K-space Signal Processing. ISMRM & SMRT Annual Meeting & Exhibition, Abstract #2618.</a>
</li>
<li class="list-group-item">
  <a class="text-decoration-none text-dark" href="https://mr.research.columbia.edu/sites/default/files/content/Liu%20JET.pdf">C. Liu, D. J. Ma, N. Zhu, K. Igwe, J. Weber, R. Li, E. T. Wood, W. Labriji, V. Stupar, Y. Sun, N. Harris, A. Depaulis, F. Fauvelle, S. A. Small, D. L. Rothman, J. Guo (2021). JET - A Matlab toolkit for automated J-difference-edited MR spectra processing of in vivo mouse MEGAPRESS study at 9.4T. ISMRM & SMRT Annual Meeting & Exhibition, Abstract #0733.</a>
</li>
<li class="list-group-item">
  <a class="text-decoration-none text-dark" href="https://mr.research.columbia.edu/sites/default/files/content/Ma%20In%20vivo.pdf">D. J. Ma, S. Gjerswold-Selleck, Y. Sun, M. M. Mattingly, J. Guo (2021). In vivo detection of GSH in the mouse brain using MEGA-PRESS at 9.4 T. ISMRM & SMRT Annual Meeting & Exhibition, Abstract #3729.</a>
</li>
<li class="list-group-item">
  <a class="text-decoration-none text-dark" href="https://mr.research.columbia.edu/sites/default/files/content/Gjerswold-Selleck%20DL-BET.pdf">S. Gjerswold-Selleck, N. Zhu, H. Sun, D. Sikka, J. Shi, C. Liu, T. Nuriel, S. A. Small, J. Guo (2021). DL-BET-A deep learning based tool for automatic brain extraction from structural magnetic resonance images in mice. ISMRM & SMRT Annual Meeting & Exhibition, Abstract #3486.</a>
</li>
<li class="list-group-item">
  <a class="text-decoration-none text-dark" href="https://mr.research.columbia.edu/sites/default/files/content/Sikka%20Predicting.pdf">D. Sikka, N. Zhu, C. Liu, S. A. Small, J. Guo (2021). Predicting Gadolinium Contrast Enhancement for Structural Lesion Analysis using DeepContrast. ISMRM & SMRT Annual Meeting & Exhibition, Abstract #0060.</a>
</li>
<li class="list-group-item">
  <a class="text-decoration-none text-dark" href="#">J. Guo, K. C. Igwe, Y. P. Sun, D. L. Rothman and S. A. Small (2018). Open-Source Toolkit for J-difference Editing Spectra Processing and Analysis. i2i Workshop.</a>
</li>
<li class="list-group-item">
  <a class="text-decoration-none text-dark" href="#">C. K. Igwe, J. Guo, A. Chesebr, K. Laing, J. J. Manly, A. M. Brickman (2018). Neurometabolic correlates of white matter hyperintensities and cognition in middle aged adults. INS.</a>
</li>
<li class="list-group-item">
  <a class="text-decoration-none text-dark" href="#">J. Guo, D. L. Rothman, and S. A. Small (2018). Automated MR Spectrum Registration for In Vivo Mouse MEGA-PRESS Study at 9.4T And the Introduction of MRSMosue2.0. ISMRM, Abstract #7781.</a>
</li>
<li class="list-group-item">
  <a class="text-decoration-none text-dark" href="#">J. Guo, Scott A. Small (2018). Large Vessel Filtering of In Vivo High-Resolution Mouse CBV Maps Using Expectation-Maximization Gaussian Mixture Model. ISMRM, Abstract #8358.</a>
</li>
<li class="list-group-item">
  <a class="text-decoration-none text-dark" href="https://index.mirasmart.com/ISMRM2018/PDFfiles/1213.html">J. Guo, X. Feng, H. Sigmon, F. Provenzano, S. A. Small (2018). MouseStream: An Open-Source Software Suit for Mapping and Analyzing Mouse Cortical Functional Architecture In Vivo Using Magnetic Resonance Microscopy. ISMRM, Abstract #1478.</a>
</li>
<li class="list-group-item">
  <a class="text-decoration-none text-dark" href="#">J. Guo, Y. P. Sun, G Zhu, S. A. Small, and D. L. Rothman (2017). Quantitative analysis of in vivo MEGA-PRESS spectra in mice at 9.4T. ISMRM, Abstract #5468.</a>
</li>
