<li class="list-group-item d-flex">
  <a class="text-decoration-none text-dark" href="https://doi.org/10.1002/mrm.29103">David J. Ma, Hortense A-M. Le, Yuming Ye, Andrew F. Laine, Jeffery A. Lieberman, Douglas L. Rothman, Scott A. Small, Jia Guo (2022). MR spectroscopy frequency and phase correction using convolutional neural networks. Magn Reson Med. 2022; 87: 1700-1710.</a>
</li>
<li class="list-group-item d-flex">
  <a class="text-decoration-none text-dark" href="https://doi.org/10.1001/jamapsychiatry.2021.3710">Basavaraju R, Guo J, Small SA, Lieberman JA, Girgis RR, Provenzano FA (2022). Hippocampal Glutamate and Positive Symptom Severity in Clinical High Risk for Psychosis. JAMA Psychiatry. 2022;79(2):178-179.</a>
</li>
<li class="list-group-item d-flex">
  <a class="text-decoration-none text-dark" href="https://doi.org/10.3389/fnbeh.2021.695416">Jime´nez-Balado Joan, Ycaza Herrera Alexandra, Igwe Kay, Klem Lynda, Buyukturkoglu Korhan, Irimia Andrei, Chen Liu, Guo Jia, Brickman Adam M., Eich Teal S (2021). Reduced Hippocampal GABA is associated with Poorer Episodic Memory in Healthy Older Women: A Pilot Study. Frontiers in Behavioral Neuroscience. ISSN 1662-5153.</a>
</li>
<li class="list-group-item d-flex">
  <a class="text-decoration-none text-dark" href="https://doi.org/10.1109/ISBI48211.2021.9433808">N. Zhu, C. Liu, X. Feng, D. Sikka, S. Gjerswold-Selleck, S. A. Small, J. Guo (2021). Deep Learning Identifies Neuroimaging Signatures of Alzheimer's Disease Using Structural and Synthesized Functional MRI Data. IEEE 17th International Symposium on Biomedical Imaging (ISBI).</a>
</li>
<li class="list-group-item d-flex">
  <a class="text-decoration-none text-dark" href="https://doi.org/10.1038/s41398-020-01154-0">E. T. Wood, K. K. Cummings, J Jung, G. Patterson, N. Okada, J. Guo, J. O’Neill, M Dapretto, S. Y. Bookheimer & S. A. Green (2021). Sensory over-responsivity is related to GABAergic inhibition in thalamocortical circuits. Transl Psychiatry 11, 39. https://doi.org/10.1038/s41398-020-01154-0.</a>
</li>
<li class="list-group-item d-flex">
  <a class="text-decoration-none text-dark" href="https://doi.org/10.1016/j.ijrobp.2020.12.019">H. J. Wei, P. S. Upadhyayula, A. N. Pouliopoulos, Z. K. Englander, X. Zhang, C. Jan, J. Guo, A. Mela, Z Zhang, T. J.C. Wang, J. N. Bruce, P. D. Canoll, N. A. Feldstein, S. Zacharoulis, E. E. Konofagou, C. C. Wu (2020). Focused Ultrasound-Mediated Blood-Brain Barrier Opening Increases Delivery and Efficacy of Etoposide for Glioblastoma Treatment, International Journal of Radiation Oncology*Biology*Physics, ISSN 0360-3016.</a>
</li>
<li class="list-group-item d-flex">
  <a class="text-decoration-none text-dark" href="https://doi.org/10.1111/epi.16768">S. Hamelin, V Stupar, L Mazie`re, J. Guo, W. Labriji, C. Liu, L. Bretagnolle, S. Parrot, E. L. Barbier, A. Depaulis, F. Fauvelle (2020). In vivo γ-aminobutyric acid increases as a biomarker of the epileptogenic zone: An unbiased metabolomics approach. Epilepsia. 62: 163–175.</a>
</li>
<li class="list-group-item d-flex">
  <a class="text-decoration-none text-dark" href="https://doi.org/10.1109/ISBI45749.2020.9098323">H. Sun, X. Liu, X. Feng, C. Liu, N. Zhu, S. J. Gjerswold-Selleck, H. J. Wei, P. S. Upadhyayula, A. Mela, C. C. Wu, P. D. Canoll, A. F. Laine, T. Vaughan, S. A. Small, J. Guo (2020). Substituting Gadolinium in Brain MRI Using DeepContrast. International Symposium on Biomedical Imaging (ISBI) 10.1109/ISBI45749.2020.9098323.</a>
</li>
<li class="list-group-item d-flex">
  <a class="text-decoration-none text-dark" href="https://doi.org/10.1371/journal.pone.0234255">X. Feng, J. Guo (co-first author), H. C. Sigmon, R. P. Sloan, A. M. Brickman, F. A. Provenzano, and S. A. Small MD, for the Alzheimer’s Disease Neuroimaging Initiative (2020). Brain regions vulnerable and resistant to aging without Alzheimer’s disease. PONE-D-19-34891R2.</a>
</li>
<li class="list-group-item d-flex">
  <a class="text-decoration-none text-dark" href="https://doi.org/10.1016/j.biopsych.2019.09.022">F. A. Provenzano, J. Guo (co-first author), Melanie M Wall, X. Feng, H. C. Sigmon, G. Brucato, M. B. First, D. L. Rothman, R. R. Girgis, J. A. Lieberman, S. A. Small (2020). Hippocampal Pathology in Clinical High-Risk Patients and the Onset of Schizophrenia. Biological Psychiatry. ISSN 0006-3223.</a>
</li>
<li class="list-group-item d-flex">
  <a class="text-decoration-none text-dark" href="https://doi.org/10.1002/nbm.3837">J. Guo, Z. Gang, Y. Sun, A. Laine, A. Small Scott and L. Rothman Douglas (2017). In vivo detection and automatic analysis of GABA in the mouse brain with MEGA-PRESS at 9.4 T. NMR in Biomedicine 31(1): e3837.</a>
</li>
