{% extends "base.html" %} {% block main %}
<div class="py-3 mx-md-3 bg-light border-radius-2">
  <h1 class="display-4 fw-normal border-bottom-dash text-center">Wet Lab Equipments</h1>
  <div class="row justify-content-center mx-0">
    <div class="col-md-11">
      <p class="lead fw-bold">Basic Wet Lab Suppliesx</p>
      <ul>
        <li><p>Cotton-Tipped Applicators</p></li>
        <li><p>Alcohol prep pads</p></li>
        <li><p>Animal hair trimmer</p></li>
        <li><p>Hair removal cream</p></li>
        <li><p>Disinfectant wipes</p></li>
        <li><p>Disposable Blue Underpads</p></li>
        <li><p>Clorox Bleach</p></li>
        <li><p>Mini fridge Settings 0-5</p></li>
        <li><p>Antibacterial Soap</p></li>
        <li><p>Nitrile Exam Gloves (L) (short)</p></li>
        <li><p>Purple Nitrile Sterile powder-free exam gloves KC500 (long)</p></li>
        <li><p>15 mL Centrifuge tubes</p></li>
        <li><p>50 mL Centrifuge tubes</p></li>
      </ul>
      <div class="row justify-content-center mx-0 my-5">
        <div class="col-md-6">
          <img style="height: 100%; width: 100%" src="{{ url_for('static', filename='facility/eppendorf-variable-micropipettes.webp') }}" alt="Eppendorf Variable Micropipettes" />
        </div>
        <span class="text-center fw-light" style="font-size: 14px">Eppendorf Variable Micropipettes</span>
      </div>
      <p class="lead fw-bold">Animal Surgery Tools</p>
      <ul>
        <li><p>Graefe Forceps (FST 11051-10)</p></li>
        <li><p>Scissor (FST 14058-11)</p></li>
        <li><p>Bulldog Clip, size 4 (Sparco SPR58503)</p></li>
        <li><p>Bulldog Clip, size 1 (Sparco SPR58500)</p></li>
        <li><p>Small scissor (ROBOZ RS-5910)</p></li>
        <li><p>Iris Spatulae (FST 10094-13)</p></li>
        <li><p>Reusable Feeding Needles (FST 18061-24)</p></li>
        <li><p>Dumont #2AP - Epoxy Coated Forceps (FST 11220-21)</p></li>
        <li><p>Micropipette (serial number?)</p></li>
        <li><p>0.1 – 2.5 mL Eppendorf variable micropipette</p></li>
        <li><p>2 – 20 mL Eppendorf variable micropipette</p></li>
        <li><p>20 – 200 mL Eppendorf variable micropipette</p></li>
        <li><p>100 – 1,000 mL Eppendorf variable micropipette</p></li>
        <li><p>2 – 200 mL tips</p></li>
        <li><p>50 – 1000 mL tips</p></li>
      </ul>
      <p class="lead fw-bold">Dissection Microscope</p>
      <ul>
        <li><p>10x Dissection Microscope (Fowler Measuring Instrument)</p></li>
        <li><p>10X – 40X Student Trinocular Stereo-Zoom Microscope with External Monitor Display (serial number?)</p></li>
        <li><p>5X – 80X Stereo Zoom Microscope Dual Halogen + 10 MP Digital Camera</p></li>
        <li><p>Single WF20X Microscope Eyepiece (30.5 mm) x2</p></li>
        <li><p>Single WF5X Microscope Eyepiece (30.5 mm) x2</p></li>
        <li><p>10 MP Microscope Digital Camera</p></li>
      </ul>
      <div class="row justify-content-center mx-0 my-5">
        <div class="col-md-6">
          <img style="height: 100%; width: 100%" src="{{ url_for('static', filename='facility/student-trinocular-stereo-zoom-microscope.webp') }}" alt="10X – 40X Student Trinocular Stereo-Zoom Microscope" />
        </div>
        <span class="text-center fw-light" style="font-size: 14px">10X – 40X Student Trinocular Stereo-Zoom Microscope</span>
      </div>
      <p class="lead fw-bold">Harvard Apparatus Advanced Syringe Pumps (serial number?)</p>
      <div class="row justify-content-center mx-0 my-5">
        <div class="col-md-6">
          <img style="height: 100%; width: 100%" src="{{ url_for('static', filename='facility/harvard-apparatus-syringe-pumps.webp') }}" alt="Harvard Apparatus Syringe Pumps" />
        </div>
        <span class="text-center fw-light" style="font-size: 14px">Harvard Apparatus Syringe Pumps</span>
      </div>
      <p class="lead fw-bold">Perfusion Set</p>
      <ul>
        <li><p>Variable Speed Pump – Pump III (Model 3386) – Medium Flow</p></li>
        <li><p>Safety Scalp Vein Set</p></li>
        <li><p>Medical Stainless Steel Disinfectant Tray</p></li>
      </ul>
      <div class="row justify-content-center mx-0 my-5">
        <div class="col-md-6">
          <img style="height: 100%; width: 100%" src="{{ url_for('static', filename='facility/variable-speed-pump.webp') }}" alt="Variable Speed Pump" />
        </div>
        <span class="text-center fw-light" style="font-size: 14px">Variable Speed Pump</span>
      </div>
      <p class="lead fw-bold">Level III Biosafety Cabinet (Thermo Scientific 1300 Series A2)</p>
      <div class="row justify-content-center mx-0 my-5">
        <div class="col-md-6">
          <img style="height: 100%; width: 100%" src="{{ url_for('static', filename='facility/thermo-scientific-biosafety-cabinet.webp') }}" alt="Thermo Scientific Biosafety Cabinet" />
        </div>
        <span class="text-center fw-light" style="font-size: 14px">Thermo Scientific Biosafety Cabinet</span>
      </div>
      <p class="lead fw-bold">Micro Cryocentrifuge (Thermo Scientific Sorvall Legend 21R)</p>
      <div class="row justify-content-center mx-0 my-5">
        <div class="col-md-6">
          <img style="height: 100%; width: 100%" src="{{ url_for('static', filename='facility/micro-cryocentrifuge.webp') }}" alt="Micro Cryocentrifuge" />
        </div>
        <span class="text-center fw-light" style="font-size: 14px">Micro Cryocentrifuge</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
